{% extends 'hi-django.html' %}

{% block body %}

    {#    {% for album in albums %}#}
    {#        <div class="album">#}
    {#            <h2>{{ album.name }}</h2>#}
    {#            {% for song in album.songs.all %}#}
    {#                <div class="music">#}
    {#                    {{ song.name }}#}
    {##}
    {#                </div>#}
    {#            {% endfor %}#}
    {#        </div>#}
    {#    {% endfor %}#}

    <div class="container">
        <div class="row">
                <div class="col-md-12 album">
                    <h2>{{ album.name }}</h2>

                    {% for song in album.songs.all %}
                        <ul>
                            <li class="song">{{ song.name }}</li>
                        </ul>
                    {% endfor %}
                </div>
        </div>
    </div>




{% endblock %}